{% extends 'base.html' %}

{% block content %}
<h2>Trees planted in the accounts you participate in ({{planted_tree_account.count}})</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tree</th>
      <th scope="col">By</th>
    </tr>
  </thead>
  <tbody>
    {% for planted in planted_tree_account %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{planted.tree}}</td>
      <td>{{planted.user.username}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
